// global variables

// fonts
$font1: 'Nunito';
$font2: 'BV';

// colour theme
$dark-blue-gray: #6E688Cff;
$vivid-tangerine: #F09F96ff;
$isabelline: #F7F1EBff;
$dark-liver: #5C4D58ff;
$purple-navy: #536085ff;
$baby-pink: #F3C2BBff;
$snow: #FEF8F8ff;
$shamrock-green: #41A162ff;
$purple: #673c85;
$pink: #EFDCFB;