html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: "BV";
  src: url("../assets/fonts/BeVietnamPro-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "BV";
  src: url("../assets/fonts/BeVietnamPro-Regular.ttf");
  font-weight: normal;
}
html {
  font-size: 125%;
}

body {
  font-family: "BV";
  font-size: 1rem;
  color: #6e688c;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h4, footer {
  font-family: "Nunito";
}

h1 {
  font-size: clamp(2.4rem, 4vw, 3.38rem);
  color: #41a162;
}

h2 {
  color: #f09f96;
}

.jobTitle {
  font-size: clamp(0.77rem, 1.31vw, 1.15rem);
  color: #6e688c;
}

h2 {
  font-size: clamp(1.45rem, 2.5vw, 2rem);
}

h3, p {
  font-weight: normal;
}

h4, h3 {
  font-size: clamp(1rem, 1.35vw, 1.15rem);
}

p {
  font-size: clamp(1rem, 1vw, 1.1rem);
}

h5 {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

i {
  font-size: clamp(1.25rem, 1.75vw, 1.5rem);
}

button, .sBox2 p, footer p {
  font-size: clamp(0.8rem, 1.25vw, 1rem);
}

html {
  scroll-behavior: smooth;
}

.mainWrapper {
  padding: 0 5% 0 40%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fef8f8;
  overflow-x: hidden;
}

h2, h3 {
  margin: 0 0;
}

h5, p {
  margin-block: 5%;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
  color: #fef8f8;
  border-radius: 2%;
  -webkit-box-shadow: inset 0px 0px 6px 3px #EFDCFB;
          box-shadow: inset 0px 0px 6px 3px #EFDCFB;
  background: -webkit-gradient(linear, left top, left bottom, from(#fef8f8), to(#673c85));
  background: linear-gradient(#fef8f8, #673c85);
  padding: 2% 3% 2% 3%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 10%;
  margin: auto;
  vertical-align: middle;
}

.hidden {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.visible {
  opacity: 1;
}

header {
  position: fixed;
  padding: 14% 0 0 14%;
  width: 43%;
  height: 100%;
  z-index: 2;
  background-color: #fef8f8;
}
header .sideBar h1 {
  line-height: 0.9;
  margin: 0px auto;
}
header .sideBar .jobTitle {
  padding-left: 34px;
}
header .sideBar .navItems {
  padding: 10% 25% 0 0;
  position: relative;
  left: 35%;
}
header .sideBar .navItems li {
  padding-top: 15px;
}
header .sideBar .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30% 25% 0 0;
  gap: 20px;
}

.imgBox1 {
  position: absolute;
  left: 75%;
}
.imgBox1 .pic {
  display: block;
  left: min(72%, 500px);
  -webkit-transform: translate(-55%, 0);
          transform: translate(-55%, 0);
  position: absolute;
}

.spacer {
  height: 125vh;
}

.hello h2 {
  padding-top: 30%;
}
.hello .aBox1 p {
  line-height: 40px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills h2 {
  padding-top: 10%;
}
.skills .sBox1 {
  width: 100%;
}
.skills .sBox2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}
.skills .sBox2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills .sBox2 li p {
  -ms-flex-item-align: center;
      align-self: center;
}
.skills .sBox2 i {
  font-size: clamp(2.5rem, 6vw, 5rem);
}
.skills .sBox2 .netlify, .skills .sBox2 .p5, .skills .sBox2 .ableton, .skills .sBox2 .keyshot, .skills .sBox2 .zbrush {
  width: clamp(50px, 6vw, 5rem);
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects h2 {
  padding-top: 5%;
}
.projects h4 {
  margin: 0 auto;
}
.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
}
.projects .project .pBoxImg, .projects .project .pBox {
  width: 50%;
}
.projects .project img {
  width: 75%;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.contact {
  padding-top: 20%;
  padding-bottom: 5%;
}
.contact p {
  width: 70%;
}
.contact .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.contact .contactForm label {
  padding-block: 10px;
}
.contact .contactForm button {
  margin-top: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding: 0 0 4% 0;
}
footer p {
  margin-block: 2%;
}

button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

button:focus {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.icons i:hover, .sideBar a:hover {
  color: #f09f96;
  -webkit-transition: color, -webkit-transform 0.15s ease-in-out;
  transition: color, -webkit-transform 0.15s ease-in-out;
  transition: color, transform 0.15s ease-in-out;
  transition: color, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.icons i:focus, .sideBar a:focus {
  color: #f09f96;
  -webkit-transition: color, -webkit-transform 0.15s ease-in-out;
  transition: color, -webkit-transform 0.15s ease-in-out;
  transition: color, transform 0.15s ease-in-out;
  transition: color, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

@media (max-width: 1000px) {
  header {
    padding-left: 10%;
  }
  header .sidebar .navItems {
    padding: 0;
  }
  .skills .sBox2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project h4 {
    padding-top: 5%;
  }
  .projects .project .pBoxImg {
    width: 125%;
  }
  .projects .project .pBox {
    width: 100%;
  }
  .pButtons {
    margin-bottom: 15%;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    padding-block: 5%;
  }
  .icons i {
    padding: 0;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
  .jobTitle {
    font-size: 0.62rem;
  }
  .sBox2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .imgBox1 .pic {
    display: block;
    left: min(72%, 500px);
    -webkit-transform: translate(-70%, 0);
            transform: translate(-70%, 0);
    position: absolute;
  }
}
@media (max-width: 500px) {
  header {
    width: 100%;
    height: 200px;
    display: unset;
  }
  header .nameTitle {
    padding-left: 13%;
  }
  header h1 {
    font-size: 2.4rem;
    padding: 0 0 0 12%;
  }
  header .jobTitle {
    font-size: 0.73rem;
  }
  .navItems h3 {
    font-size: 0.8rem;
  }
  header .sideBar .jobTitle {
    padding-left: 95px;
  }
  header .sideBar .navItems {
    padding: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .sideBar .icons {
    position: absolute;
    top: 90vh;
    height: 10vh;
    width: 100vw;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    overflow: hidden;
    background-color: #fef8f8;
  }
  .mainWrapper {
    padding: 0 5% 0 5%;
  }
  section {
    padding-block: 70%;
  }
}
@media (prefers-reduced-motion) {
  .hidden {
    -webkit-transition: none;
    transition: none;
  }
}